In [0]:
jdbcHostname = "db4free.net"
jdbcDatabase = "demo_exam"
jdbcPort = 3306
jdbcUsername="priyank_demo"
jdbcPassword="Priyank@1995"
jdbcUrl = "jdbc:mysql://{0}:{1}/{2}".format(jdbcHostname, jdbcPort, jdbcDatabase)
connectionProperties = {
  "user" : jdbcUsername,
  "password" : jdbcPassword,
  "driver" : "com.mysql.cj.jdbc.Driver" 
}

In [0]:
table_name='student'
sdf = spark.read.jdbc(url=jdbcUrl, table=table_name,properties=connectionProperties)
display(sdf)

id,first_name,last_name,gender,dob,city,mobile_number
1,priyank,maisuriya,m,2013-05-15,bardoli,9915454785
2,meet,patel,m,2016-05-11,surat,9421872888
3,ankita,patel,fm,2012-05-09,navsari,5562558555
4,sweta,suthar,fm,2013-05-09,mumbai,6598989865
5,aniket,patel,m,1995-03-02,surat,9898984444

In [0]:
import pymysql

conn = pymysql.connect(host='db4free.net', user='priyank_demo', password='Priyank@1995', db='demo_exam')
cur = conn.cursor()
query = "INSERT INTO student (first_name,last_name,gender,dob,city, mobile_number) VALUES (%s, %s, %s, %s, %s, %s)"
cur.execute(query, ('dj', 'brvo','m',19840101,'daman',9865321472))
conn.commit()

In [0]:
import pymysql

conn = pymysql.connect(host='db4free.net', user='priyank_demo', password='Priyank@1995', db='demo_exam')
cur = conn.cursor()
query = "INSERT INTO student (first_name,last_name,gender,dob,city, mobile_number) VALUES (%s, %s, %s, %s, %s, %s)"
val = [('vijay', 'dinanath','m',20000406,'bardoli',7874545612),
  ('rocky', 'patel','m',19850302,'mumbai',7412365983)]
cur.executemany(query, val)
conn.commit()

In [0]:
cur = conn.cursor()
cur.execute("select * FROM student")
myresult = cur.fetchall()
for x in myresult:
    print(x)

(1, 'priyank', 'maisuriya', 'm', datetime.date(2013, 5, 15), 'bardoli', '9915454785')
(2, 'meet', 'patel', 'm', datetime.date(2016, 5, 11), 'surat', '9421872888')
(3, 'ankita', 'patel', 'fm', datetime.date(2012, 5, 9), 'navsari', '5562558555')
(4, 'sweta', 'suthar', 'fm', datetime.date(2013, 5, 9), 'mumbai', '6598989865')
(5, 'aniket', 'patel', 'm', datetime.date(1995, 3, 2), 'surat', '9898984444')
(6, 'sumit', 'sagathiya', 'm', datetime.date(2017, 2, 2), 'bardoli', '9845784111')
(7, 'sunny', 'rabbari', 'm', datetime.date(2000, 9, 2), 'surat', '981004111')
(8, 'gujju', 'gamit', 'm', datetime.date(1995, 5, 3), 'navsari', '9810004111')
(9, 'mansi', 'savaliya', 'fm', datetime.date(1978, 8, 2), 'jamnagar', '9898985600')
(10, 'dharuv', 'patel', 'm', datetime.date(1970, 8, 2), 'surat', '9810088888')
(11, 'hemu', 'patel', 'fm', datetime.date(2000, 4, 6), 'bardoli', '7874545612')
(12, 'anita', 'patel', 'fm', datetime.date(1985, 3, 2), 'surat', '7412365983')
(13, 'vijay', 'dinanath', 'm', datetime.date(2000, 4, 6), 'bardoli', '7874545612')
(14, 'rocky', 'patel', 'm', datetime.date(1985, 3, 2), 'mumbai', '7412365983')
(15, 'dj', 'brvo', 'm', datetime.date(1984, 1, 1), 'daman', '9865321472')

In [0]:
table_name='student'
sdf = spark.read.jdbc(url=jdbcUrl, table=table_name,properties=connectionProperties)
display(sdf)

id,first_name,last_name,gender,dob,city,mobile_number
1,priyank,maisuriya,m,2013-05-15,bardoli,9915454785
2,meet,patel,m,2016-05-11,surat,9421872888
3,ankita,patel,fm,2012-05-09,navsari,5562558555
4,sweta,suthar,fm,2013-05-09,mumbai,6598989865
5,aniket,patel,m,1995-03-02,surat,9898984444
6,sumit,sagathiya,m,2017-02-02,bardoli,9845784111
7,sunny,rabbari,m,2000-09-02,surat,981004111
8,gujju,gamit,m,1995-05-03,navsari,9810004111
9,mansi,savaliya,fm,1978-08-02,jamnagar,9898985600
10,dharuv,patel,m,1970-08-02,surat,9810088888
11,hemu,patel,fm,2000-04-06,bardoli,7874545612
12,anita,patel,fm,1985-03-02,surat,7412365983
13,vijay,dinanath,m,2000-04-06,bardoli,7874545612
14,rocky,patel,m,1985-03-02,mumbai,7412365983
15,dj,brvo,m,1984-01-01,daman,9865321472

In [0]:
cur = conn.cursor()
query = "update student set city='navsari' where id=1 "
cur.execute(query)
conn.commit()

In [0]:
cur = conn.cursor()
query = "delete from student where id=9 "
cur.execute(query)
conn.commit()