In [0]:
#database connection
import pymssql
try:
    conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    print("Successfully Connect")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully Connect

In [0]:
#create table
import pymssql
try:
    #conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    cur = conn.cursor()
    query = "create table Employee_info(EmpID int IDENTITY(1,1) PRIMARY KEY,FirstName varchar(15),LastName varchar(15),Gender char(1),DateOfBirth Date,City varchar(15),DateOfJoining Date,Salary float);"
    cur.execute(query)
    conn.commit()
    print("Successfully Create Table")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully Create Tabel

In [0]:
#display data types
sdf.dtypes

Out[12]: [('EmpID', 'int'),
 ('FirstName', 'string'),
 ('LastName', 'string'),
 ('Gender', 'string'),
 ('DateOfBirth', 'date'),
 ('City', 'string'),
 ('DateOfJoining', 'date'),
 ('Salary', 'double')]

In [0]:
#insert multiple data at time 
#EmpID=14 to 21 insert and delete same value check error and print msg

import pymssql
try:
    #conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    cur = conn.cursor()
    query = "insert into Employee_info (FirstName,LastName,Gender,DateOfBirth,City,DateOfJoining,Salary) VALUES (%s, %s, %s, %s, %s, %s ,%s)"
    val = [('vijay', 'sagthiya','m','1991-11-11','mumbai','2018-01-01',25000),
       ('aniket', 'mali','m','1977-02-28','navsari','2016-09-09',56000),
       ('sweta', 'mali','f','1996-03-17','surat','2019-06-25',20000),
       ('suresh', 'patel','m','1990-12-12','vyara','2017-08-18',40000),
       ('priyank', 'gamit','m','1968-02-04','mumbai','2012-06-07',60000),
       ('ankita', 'darbar','f','1987-12-01','surat','2011-06-07',78000),
       ('shree', 'patel','f','1993-06-01','bardoli','2020-06-01',12000),
       ('vihan', 'parmar','m','1975-03-23','surat','2015-11-11',35000)
      ]
     #cur.execute(query,('vicky','patel','m','1986-09-14','bardoli','2014-10-06',45000))
     #cur.execute(query,('brinda','patel','f','1985-02-04','surat','2014-06-07',45000))
    cur.executemany(query,val)
   
    conn.commit()
    print("Successfully inserted")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully inserted

In [0]:
#display table data
display(sdf)

EmpID,FirstName,LastName,Gender,DateOfBirth,City,DateOfJoining,Salary
1,vicky,patel,m,1986-09-14,bardoli,2014-10-06,45000.0
2,brinda,patel,f,1985-02-04,surat,2014-06-07,45000.0
3,vijay,sagthiya,m,1991-11-11,mumbai,2018-01-01,25000.0
4,aniket,mali,m,1977-02-28,navsari,2016-09-09,56000.0
5,sweta,mali,f,1996-03-17,surat,2019-06-25,20000.0
6,suresh,patel,m,1990-12-12,vyara,2017-08-18,40000.0
7,priyank,gamit,m,1968-02-04,mumbai,2012-06-07,60000.0
8,ankita,darbar,f,1987-12-01,surat,2011-06-07,78000.0
9,shree,patel,f,1993-06-01,bardoli,2020-06-01,12000.0
10,vihan,parmar,m,1975-03-23,surat,2015-11-11,35000.0

In [0]:
#insert data
import pymssql
try:
    #conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    cur = conn.cursor()
    query = "insert into Employee_info (FirstName,LastName,Gender,DateOfBirth,City, DateOfJoining,Salary) VALUES (%s, %s, %s, %s, %s, %s ,%s)"
    cur.execute(query, ('meet', 'savliya','m','1988-06-21','jamnagar','2017-08-15',60000))
    conn.commit()
    print("Successfully inserted")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully inserted

In [0]:
#update data
try:
    cur = conn.cursor()
    query = "update Employee_info set Salary=65000 where EmpID=22"
    cur.execute(query)
    conn.commit()
    print("Successfully Updated")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully Updated

In [0]:
display(sdf)

EmpID,FirstName,LastName,Gender,DateOfBirth,City,DateOfJoining,Salary
1,vicky,patel,m,1986-09-14,bardoli,2014-10-06,45000.0
2,brinda,patel,f,1985-02-04,surat,2014-06-07,45000.0
3,vijay,sagthiya,m,1991-11-11,mumbai,2018-01-01,25000.0
4,aniket,mali,m,1977-02-28,navsari,2016-09-09,56000.0
5,sweta,mali,f,1996-03-17,surat,2019-06-25,20000.0
6,suresh,patel,m,1990-12-12,vyara,2017-08-18,40000.0
7,priyank,gamit,m,1968-02-04,mumbai,2012-06-07,60000.0
8,ankita,darbar,f,1987-12-01,surat,2011-06-07,120000.0
9,shree,patel,f,1993-06-01,bardoli,2020-06-01,12000.0
10,vihan,parmar,m,1975-03-23,surat,2015-11-11,35000.0
22,meet,savliya,m,1988-06-21,jamnagar,2017-08-15,65000.0

In [0]:
#select(display) data using condition
sdf.select("FirstName",sdf.City.like("surat")).display()

FirstName,City LIKE surat
vicky,false
brinda,true
vijay,false
aniket,false
sweta,true
suresh,false
priyank,false
ankita,true
shree,false
vihan,true

In [0]:
#delete table 
try:
    cur = conn.cursor()
    query = "drop table s"
    cur.execute(query)
    conn.commit()
    print("Successfully delete")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully delete

In [0]:
#insert data 
#EmpId=11 insert and delete
import pymssql
try:
    #conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    cur = conn.cursor()
    query = "insert into Employee_info (FirstName,LastName,Gender,DateOfBirth,City, DateOfJoining,Salary) VALUES (%s, %s, %s, %s, %s, %s ,%s)"
    data=('meet', 'savliya','m','1988-08-08','surat','2013-07-15',54000)
    cur.execute(query,data)
    conn.commit()
    print("Successfully inserted")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully inserted

In [0]:
#insert data one and more at time 
#EmpID=12,13 insert and delete
import pymssql
try:
    #conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    cur = conn.cursor()
    query = "insert into Employee_info (FirstName,LastName,Gender,DateOfBirth,City,DateOfJoining,Salary) VALUES (%s, %s, %s, %s, %s, %s ,%s)"
    val = [('keyur', 'patel','m','1994-10-09','daman','2018-06-15',25000),
       ('pintu', 'mali','m','1989-02-12','udipur','2014-07-14',85000)]
    cur.executemany(query,val)
    conn.commit()
    print("Successfully inserted")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully inserted

In [0]:
#delete table data
#between 11 and 13
try:
    cur = conn.cursor()
    query = "delete from Employee_info where EmpId between 14 and 21" 
    cur.execute(query)
    conn.commit()
    print("Successfully delete")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully delete

In [0]:
sdf.show()

+-----+---------+--------+------+-----------+--------+-------------+--------+
|EmpID|FirstName|LastName|Gender|DateOfBirth|    City|DateOfJoining|  Salary|
+-----+---------+--------+------+-----------+--------+-------------+--------+
|    1|    vicky|   patel|     m| 1986-09-14| bardoli|   2014-10-06| 45000.0|
|    2|   brinda|   patel|     f| 1985-02-04|   surat|   2014-06-07| 45000.0|
|    3|    vijay|sagthiya|     m| 1991-11-11|  mumbai|   2018-01-01| 25000.0|
|    4|   aniket|    mali|     m| 1977-02-28| navsari|   2016-09-09| 56000.0|
|    5|    sweta|    mali|     f| 1996-03-17|   surat|   2019-06-25| 20000.0|
|    6|   suresh|   patel|     m| 1990-12-12|   vyara|   2017-08-18| 40000.0|
|    7|  priyank|   gamit|     m| 1968-02-04|  mumbai|   2012-06-07| 60000.0|
|    8|   ankita|  darbar|     f| 1987-12-01|   surat|   2011-06-07|120000.0|
|    9|    shree|   patel|     f| 1993-06-01| bardoli|   2020-06-01| 12000.0|
|   10|    vihan|  parmar|     m| 1975-03-23|   surat|   2015-11-11| 35000.0|
|   22|     meet| savliya|     m| 1988-06-21|jamnagar|   2017-08-15| 65000.0|
+-----+---------+--------+------+-----------+--------+-------------+--------+

In [0]:
#selected data display
sdf.createOrReplaceTempView("Employee_info")
sqlDF = spark.sql("SELECT city FROM Employee_info")
sqlDF.show()

+--------+
|    city|
+--------+
| bardoli|
|   surat|
|  mumbai|
| navsari|
|   surat|
|   vyara|
|  mumbai|
|   surat|
| bardoli|
|   surat|
|jamnagar|
+--------+

In [0]:
#insert data 
import pymssql
try:
    #conn = pymssql.connect(host='54.245.193.229', user='sa', password='WindowsSQL-123', database='DEV')
    cur = conn.cursor()
    query = "insert into Employee_info (FirstName,LastName,Gender,DateOfBirth,City, DateOfJoining,Salary) VALUES (%s, %s, %s, %s, %s, %s ,%d)"
    data=('mansi', 'patel','f','1992-06-02','bardoli','2018-07-05',18500)
    cur.execute(query,data)
    conn.commit()
    print("Successfully inserted")
except Exception as e:
    print(f"Invalid Data:{e}")

Successfully inserted

In [0]:
sdf.show()

+-----+---------+--------+------+-----------+--------+-------------+--------+
|EmpID|FirstName|LastName|Gender|DateOfBirth|    City|DateOfJoining|  Salary|
+-----+---------+--------+------+-----------+--------+-------------+--------+
|    1|    vicky|   patel|     m| 1986-09-14| bardoli|   2014-10-06| 45000.0|
|    2|   brinda|   patel|     f| 1985-02-04|   surat|   2014-06-07| 45000.0|
|    3|    vijay|sagthiya|     m| 1991-11-11|  mumbai|   2018-01-01| 25000.0|
|    4|   aniket|    mali|     m| 1977-02-28| navsari|   2016-09-09| 56000.0|
|    5|    sweta|    mali|     f| 1996-03-17|   surat|   2019-06-25| 20000.0|
|    6|   suresh|   patel|     m| 1990-12-12|   vyara|   2017-08-18| 40000.0|
|    7|  priyank|   gamit|     m| 1968-02-04|  mumbai|   2012-06-07| 60000.0|
|    8|   ankita|  darbar|     f| 1987-12-01|   surat|   2011-06-07|120000.0|
|    9|    shree|   patel|     f| 1993-06-01| bardoli|   2020-06-01| 12000.0|
|   10|    vihan|  parmar|     m| 1975-03-23|   surat|   2015-11-11| 35000.0|
|   22|     meet| savliya|     m| 1988-06-21|jamnagar|   2017-08-15| 65000.0|
|   23|    mansi|   patel|     f| 1992-06-02| bardoli|   2018-07-05| 18500.0|
+-----+---------+--------+------+-----------+--------+-------------+--------+

In [0]:
sdf.createOrReplaceTempView("Employee_info")
sqlDF = spark.sql("Select sum(EmpID) as sum_EmpID,sum(trim(lower(FirstName))) as sum_FirstName, sum(trim(lower(LastName))) as sum_LastName,sum(trim(lower(Gender))) as sum_Gender, sum(UNIX_TIMESTAMP(DateOfBirth)) as  sum_DateOfBirth,sum(trim(lower(City))) as sum_City,sum(UNIX_TIMESTAMP(DateOfJoining)) as  sum_DateOfJoining,sum(Salary)as sum_salary,min(EmpID) as min_EmpID,min(trim(lower(FirstName))) as min_FirstName,min(trim(lower(LastName))) as min_LastName,min(trim(lower(Gender))) as min_Gender, min(UNIX_TIMESTAMP(DateOfBirth)) as  min_DateOfBirth,min(trim(lower(City))) as min_City, min(UNIX_TIMESTAMP(DateOfJoining)) as min_DateOfJoining,min(Salary)as min_salary, max(EmpID) as max_EmpID,max(trim(lower(FirstName))) as max_FirstName,max(trim(lower(LastName))) as max_LastName, max(trim(lower(Gender))) as max_Gender, max(UNIX_TIMESTAMP(DateOfBirth)) as max_DateOfBirth, max(trim(lower(City))) as max_City,max(UNIX_TIMESTAMP(DateOfJoining)) as max_DateOfJoining,max(Salary)as max_salary, avg(EmpID) as avg_EmpID,avg(trim(lower(FirstName))) as avg_FirstName,avg(trim(lower(LastName))) as avg_LastName,avg(trim(lower(Gender))) as avg_Gender, avg(UNIX_TIMESTAMP(DateOfBirth)) as  avg_DateOfBirth,avg(trim(lower(City))) as avg_City,avg(UNIX_TIMESTAMP(DateOfJoining)) as  avg_DateOfJoining,avg(Salary)as avg_salary, count(distinct EmpID) as count_EmpID,count(distinct trim(lower(FirstName))) as count_FirstName,count(distinct trim(lower(LastName))) as count_LastName,count(distinct trim(lower(Gender))) as count_Gender, count(distinct UNIX_TIMESTAMP(DateOfBirth)) as  count_DateOfBirth,count(distinct trim(lower(City))) as count_City,count(distinct UNIX_TIMESTAMP(DateOfJoining)) as count_DateOfJoining,count(distinct Salary)as count_salary from Employee_info")
sqlDF.show()
display(sqlDF)

+---------+-------------+------------+----------+---------------+--------+-----------------+----------+---------+-------------+------------+----------+---------------+--------+-----------------+----------+---------+-------------+------------+----------+---------------+--------+-----------------+----------+-----------------+-------------+------------+----------+---------------+--------+-----------------+----------+-----------+---------------+--------------+------------+-----------------+----------+-------------------+------------+
|sum_EmpID|sum_FirstName|sum_LastName|sum_Gender|sum_DateOfBirth|sum_City|sum_DateOfJoining|sum_salary|min_EmpID|min_FirstName|min_LastName|min_Gender|min_DateOfBirth|min_City|min_DateOfJoining|min_salary|max_EmpID|max_FirstName|max_LastName|max_Gender|max_DateOfBirth|max_City|max_DateOfJoining|max_salary|        avg_EmpID|avg_FirstName|avg_LastName|avg_Gender|avg_DateOfBirth|avg_City|avg_DateOfJoining|avg_salary|count_EmpID|count_FirstName|count_LastName|count_Gender|count_DateOfBirth|count_City|count_DateOfJoining|count_salary|
+---------+-------------+------------+----------+---------------+--------+-----------------+----------+---------+-------------+------------+----------+---------------+--------+-----------------+----------+---------+-------------+------------+----------+---------------+--------+-----------------+----------+-----------------+-------------+------------+----------+---------------+--------+-----------------+----------+-----------+---------------+--------------+------------+-----------------+----------+-------------------+------------+
|      100|         null|        null|      null|     6106147200|    null|      17585337600|  541500.0|        1|       aniket|      darbar|         f|      -60220800| bardoli|       1307404800|   12000.0|       23|        vijay|     savliya|         m|      827020800|   vyara|       1590969600|  120000.0|8.333333333333334|         null|        null|      null|     5.088456E8|    null|      1.4654448E9|   45125.0|         12|             12|             7|           2|               12|         6|                 12|          11|
+---------+-------------+------------+----------+---------------+--------+-----------------+----------+---------+-------------+------------+----------+---------------+--------+-----------------+----------+---------+-------------+------------+----------+---------------+--------+-----------------+----------+-----------------+-------------+------------+----------+---------------+--------+-----------------+----------+-----------+---------------+--------------+------------+-----------------+----------+-------------------+------------+

sum_EmpID,sum_FirstName,sum_LastName,sum_Gender,sum_DateOfBirth,sum_City,sum_DateOfJoining,sum_salary,min_EmpID,min_FirstName,min_LastName,min_Gender,min_DateOfBirth,min_City,min_DateOfJoining,min_salary,max_EmpID,max_FirstName,max_LastName,max_Gender,max_DateOfBirth,max_City,max_DateOfJoining,max_salary,avg_EmpID,avg_FirstName,avg_LastName,avg_Gender,avg_DateOfBirth,avg_City,avg_DateOfJoining,avg_salary,count_EmpID,count_FirstName,count_LastName,count_Gender,count_DateOfBirth,count_City,count_DateOfJoining,count_salary
100,null,null,null,6106147200,null,17585337600,541500.0,1,aniket,darbar,f,-60220800,bardoli,1307404800,12000.0,23,vijay,savliya,m,827020800,vyara,1590969600,120000.0,8.333333333333334,null,null,null,5.088456E8,null,1.4654448E9,45125.0,12,12,7,2,12,6,12,11